@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: #f39c12 !important;
}
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important;
}
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important;
}
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important;
}
.chart-legend,
.contacts-list,
.users-list,
.mailbox-attachments {
  list-style: none;
  margin: 0;
  padding: 0;
}
.box-comments .box-comment img,
.user-block.user-block-sm img {
  float: left;
}
.box-comments .box-comment img,
.user-block.user-block-sm img {
  width: 30px !important;
  height: 30px !important;
}
@media print {
  .main-sidebar,
  .left-side,
  .main-header,
  .content-header {
    display: none !important;
  }
}
.assignment-manual .submission .reviewers .reviewer {
  display: inline-block;
  border: 1px solid;
  color: #444;
  border-color: #dddddd;
  cursor: pointer;
}
.assignment-manual .submission .reviewers .reviewer > div {
  padding: .4em;
}
.assignment-manual .submission .reviewers .reviewer .name {
  display: inline-block;
}
.assignment-manual .submission .reviewers .reviewer .bid {
  display: inline-block;
  border-left: 1px solid #dddddd;
  margin-left: -4px;
  color: white;
}
.assignment-manual .submission .reviewers .reviewer .bid.none {
  color: #999;
}
.assignment-manual .submission .reviewers .reviewer .bid.low {
  color: #dd4b39;
}
.assignment-manual .submission .reviewers .reviewer .bid.medium {
  color: #f39c12;
}
.assignment-manual .submission .reviewers .reviewer .bid.high {
  color: #00a65a;
}
.assignment-manual .submission .reviewers .reviewer input {
  display: none;
}
.assignment-manual .submission .reviewers .reviewer:hover {
  border-color: #c4c4c4;
  background-color: #fcfcfc;
}
.assignment-manual .submission .reviewers .reviewer.active {
  border-color: #9d9d9d;
  background-color: #f6f6f6;
}
.assignment-manual .submission .reviewers .reviewer.active:hover {
  border-color: #5e5e5e;
}
.assignment-auto .submission .reviewers .reviewer {
  display: inline-block;
  border: 1px solid;
  color: #444;
  border-color: #dddddd;
  border-color: #9d9d9d;
  background-color: #f6f6f6;
}
.assignment-auto .submission .reviewers .reviewer > div {
  padding: .4em;
}
.assignment-auto .submission .reviewers .reviewer .name {
  display: inline-block;
}
.assignment-auto .submission .reviewers .reviewer .bid {
  display: inline-block;
  border-left: 1px solid #dddddd;
  margin-left: -4px;
  color: white;
}
.assignment-auto .submission .reviewers .reviewer .bid.none {
  color: #999;
}
.assignment-auto .submission .reviewers .reviewer .bid.low {
  color: #dd4b39;
}
.assignment-auto .submission .reviewers .reviewer .bid.medium {
  color: #f39c12;
}
.assignment-auto .submission .reviewers .reviewer .bid.high {
  color: #00a65a;
}
.assignment-auto .submission .reviewers .reviewer input {
  display: none;
}
.review_fields .form-group {
  margin-bottom: 0;
}
.review_fields .action {
  text-align: center;
  vertical-align: middle;
}
.score-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.score-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.score-container .score-block {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  color: white;
}
.score-container .score-block .score-value {
  font-size: 3em;
  font-weight: 600;
}
.score-container .score-block .score-label {
  margin-top: .3em;
  font-size: .9em;
  text-transform: uppercase;
}
.score-container .score-block-empty {
  background-color: #f7f7f7;
  color: #666666;
  font-size: 3em;
}
.score-container .score-block-5,
.score-container .score-block-4 {
  color: #fff !important;
  background-color: #00a65a !important;
}
.score-container .score-block-3 {
  color: #fff !important;
  background-color: #f39c12 !important;
}
.score-container .score-block-2,
.score-container .score-block-1 {
  color: #fff !important;
  background-color: #dd4b39 !important;
}
/*# sourceMappingURL=reviews.css.map */