@import (reference) "../../../../../../../public/less/style";

.display-flex() {
    display: -webkit-box; // OLD - iOS 6-, Safari 3.1-6
    display: -moz-box; // OLD - Firefox 19- (buggy but mostly works)
    display: -ms-flexbox; // TWEENER - IE 10
    display: -webkit-flex; // NEW - Chrome
    display: flex; // NEW, Spec - Opera 12.1, Firefox 20+
}

.flex(@num: 1) {
    -webkit-box-flex: @num 0; // OLD - iOS 6-, Safari 3.1-6
    -moz-box-flex: @num 0; // OLD - Firefox 19-
    -webkit-flex: @num 0; // Chrome
    -ms-flex: @num 0; // IE 10
    flex: @num 0; // NEW, Spec - Opera 12.1, Firefox 20+
}

.flex-direction-column() {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.align-items(@dir) {
    -webkit-box-align: @dir;
    -moz-box-align: @dir;
    -webkit-align-items: @dir;
    -ms-flex-align: @dir;
    align-items: @dir;
}

.justify-content(@dir) {
    -webkit-box-pack: @dir;
    -moz-box-pack: @dir;
    -webkit-justify-content: @dir;
    -ms-flex-pack: @dir;
    justify-content: @dir;
}

.assignments(@clickable: false) {
    .submission {
        .reviewers {
            .reviewer {
                @border-color: #ddd;
                display: inline-block;
                border: 1px solid;
                color: #444;
                border-color: @border-color;
                & > div {
                    padding: .4em;
                }
                .name {
                    display: inline-block;
                }
                .bid {
                    display: inline-block;
                    border-left: 1px solid @border-color;
                    margin-left: -4px;
                    color: white;
                    &.none {
                        color: #999;
                    }
                    &.low {
                        color: @red;
                    }
                    &.medium {
                        color: @yellow;
                    }
                    &.high {
                        color: @green;
                    }
                }
                input {
                    display: none;
                }
                .active() {
                    border-color: darken(@border-color, 25%);
                    background-color: #f6f6f6;
                }
                & when (@clickable) {
                    cursor: pointer;
                    &:hover {
                        border-color: darken(@border-color, 10%);
                        background-color: #fcfcfc;
                    }
                    &.active {
                        .active();
                        &:hover {
                            border-color: darken(@border-color, 50%);
                        }
                    }
                }
                & when (@clickable = false) {
                    .active;
                }

            }
        }
    }

}

.assignment-manual {
    .assignments(true);
}

.assignment-auto {
    .assignments(false);
}

.review_fields {
    .form-group {
        margin-bottom: 0;
    }
    .action {
        text-align: center;
        vertical-align: middle;
    }
}

.score-row{
    .display-flex;
}
.score-container{
    .display-flex;
    .align-items(center);
    .justify-content(center);

    .score-block{
        width: 110px;
        height: 110px;
        border-radius:50%;
        .display-flex;
        .flex-direction-column;
        .justify-content(center);
        text-align: center;
        line-height: 1;
        color: white;
        .score-value{
            font-size: 3em;
            font-weight: 600;
        }
        .score-label{
            margin-top: .3em;
            font-size: .9em;
            text-transform: uppercase;
        }

        &-empty{
            .bg-gray-light;
            color: #666666;
            font-size: 3em;
        }

        &-5, &-4{
            .bg-green;
        }
        &-3{
            .bg-yellow;
        }
        &-2, &-1{
            .bg-red;
        }
    }
}
